.container {
  width: 70%;
  margin: auto;
  margin-top: 20%;
}

.container h1 {
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  border-bottom: 3px solid #8685ef;
  margin: 3rem auto;
  padding-bottom: 1rem;
}

.container p,
.container h2 {
  margin-top: 2rem;
}

.container ul li {
  margin-top: 1.5rem;
}

.anchor {
  height: 100px;
}

.images {
  display: flex;
  flex-direction: row;
}

.images img {
  width: 30vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .images {
    flex-direction: column;
  }
  .images img {
    width: 60vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .images {
    flex-direction: column;
  }
  .images img {
    width: 60vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .images {
    flex-direction: row;
  }
  .images img {
    width: 30vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .images {
    flex-direction: row;
  }
  .images img {
    width: 30vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .images {
    flex-direction: row;
  }
  .images img {
    width: 30vw;
  }
}
