.container {
  width: 70%;
  margin: auto;
  margin-top: 20%;
}

.container h1 {
  text-align: center;
  border-bottom: 3px solid #8685ef;
  width: 60%;
  margin: 3rem auto;
  padding-bottom: 1rem;
}

.container p,
.container h2 {
  margin-top: 2rem;
}

.anchor {
  height: 100px;
}
