.container {
  width: 70%;
  margin: auto;
  margin-top: 20%;
}

.container h1 {
  text-align: center;
  border-bottom: 3px solid #8685ef;
  width: 60%;
  margin: 3rem auto;
  padding-bottom: 1rem;
}

.container p,
.container h2 {
  margin-top: 2rem;
}

.container ul li {
  margin-top: 1.5rem;
}

.code-container {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  width: 500px;
  background-color: #8685ef;
  padding: 2rem;
  border-radius: 1rem;
}

.code-container p {
  margin: 0 0 0 2rem;
  color: #faf8ff;
  font-size: 1.5rem;
  font-weight: bold;
}

.code-container input {
  margin: 2rem;
}

.code-container button {
  width: 200px;
  margin: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  background-color: #403e4e;
  color: #faf8ff;
  border-radius: 1rem;
  transition-duration: 0.2s;
}

.code-container button:hover {
  background-color: #2a2a2a;
  color: #faf8ff;
}

.code-container .error {
  margin: 2rem 2rem 0 2rem;
  text-align: center;
}

.image-row {
  display: flex;
  flex-direction: row;
}

.gallery-image {
  width: 500px;
  height: 400px;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 0.5rem;
}

.anchor {
  height: 100px;
}
