.container {
  width: 70%;
  margin: auto;
  margin-top: 20%;
}

.container h1 {
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  border-bottom: 3px solid #8685ef;
  margin: 3rem auto;
  padding-bottom: 1rem;
}

.container p,
.container h2 {
  margin-top: 2rem;
}

.container ul li {
  margin-top: 1.5rem;
}

.code-container {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  width: fit-content;
  background-color: #8685ef;
  padding: 1rem;
  border-radius: 1rem;
}

.code-container p {
  padding: 0 1rem 0 1rem;
  margin: 1rem 0;
  color: #faf8ff;
  font-size: 1.5rem;
  font-weight: bold;
}

.code-container input {
  margin: 1rem;
}

.code-container button {
  width: 200px;
  margin: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 1rem auto;
  border: none;
  background-color: #403e4e;
  color: #faf8ff;
  border-radius: 1rem;
  transition-duration: 0.2s;
}

.code-container button:hover {
  background-color: #2a2a2a;
  color: #faf8ff;
}

.code-container .error {
  margin: 2rem 2rem 0 2rem;
}

.image-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.image-row img {
  width: 21.5vw;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 0.5rem;
}

.anchor {
  height: 100px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .code-container {
    width: 100%;
  }
  .code-container button {
    width: 150px;
  }
  .image-row {
    flex-direction: column;
  }
  .image-row img {
    width: 65vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .code-container {
    width: 100%;
  }
  .image-row {
    flex-direction: column;
  }
  .image-row img {
    width: 65vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .code-container {
    width: 100%;
  }
  .image-row {
    flex-direction: row;
  }
  .image-row img {
    width: 21.5vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .code-container {
    width: 70%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .code-container {
    width: 70%;
  }
}
