.nav {
  width: 100%;
  height: 100%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #403e4eb3;
  backdrop-filter: blur(20px);
  z-index: 1;
}

.nav ul li {
  padding: 0;
  margin: 0;
}

.nav ul li button {
  padding: 1.5rem 3rem;
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  color: #faf8ff;
  margin: 0;
  transition-duration: 0.2s;
  white-space: nowrap;
}

.nav ul li button:hover {
  background-color: #403e4e;
  color: #faf8ff;
}

.nav ul li button * {
  margin-right: 0.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .nav ul li button .nav-text {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  .nav ul li button {
    width: fit-content;
    padding: 1.5rem 0.8rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 800px) {
  .nav ul li button {
    width: fit-content;
    padding: 1.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav ul li button {
    width: fit-content;
    padding: 1.5rem 3rem;
  }
}
