.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.form-group * {
  margin: 1rem 0;
  padding: 1rem;
  width: 30vw;
}

.form-group h1 {
  font-size: 4vw;
  white-space: nowrap;
  margin-left: -3rem;
}

.submit-btn {
  padding: 1rem;
  background-color: white;
  color: #0d0a0b;
  font-weight: bold;
  border-radius: 4px;
  transition: ease-out 0.3s;
  outline: none;
  cursor: pointer;
  border: 1px solid #2d142c;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}
